@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Halant:400,500,300,600,700|Josefin+Sans:400,100italic,100,300,300italic,400italic,600,600italic,700|Playfair+Display:400,400italic,700,700italic,900,900italic);
figure {
  margin: 0;
}

body {
  font-size: 26px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 10px;
  }
}

.responsive {
  margin: 0 auto;
  width: 95%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .responsive {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .responsive {
    width: 1024px;
  }
}

#menu {
  height: 100vh;
  position: fixed;
  z-index: 2000;
  overflow: hidden;
}
#menu.close li {
  width: 60px;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}
#menu.close li:nth-of-type(2) {
  width: 0;
  -webkit-transition: width 420ms ease-in-out;
  transition: width 420ms ease-in-out;
}
#menu.close li:nth-of-type(3) {
  width: 0;
  -webkit-transition: width 360ms ease-in-out;
  transition: width 360ms ease-in-out;
}
#menu.close li:nth-of-type(4) {
  width: 0;
  -webkit-transition: width 320ms ease-in-out;
  transition: width 320ms ease-in-out;
}
#menu.close li:nth-of-type(5) {
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
#menu.close li a {
  margin-right: 10em;
}
#menu nav ul, #menu nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu nav ul li, #menu nav li li {
  width: 150px;
  border-bottom: 1px solid #808080;
  text-align: right;
  height: 50px;
  background: #ffffff;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}
#menu nav ul li#btn-menu a, #menu nav li li#btn-menu a {
  margin-right: 1em;
}
#menu nav ul li:nth-of-type(2), #menu nav li li:nth-of-type(2) {
  -webkit-transition: width 420ms ease-in-out;
  transition: width 420ms ease-in-out;
}
#menu nav ul li:nth-of-type(3), #menu nav li li:nth-of-type(3) {
  -webkit-transition: width 360ms ease-in-out;
  transition: width 360ms ease-in-out;
}
#menu nav ul li:nth-of-type(4), #menu nav li li:nth-of-type(4) {
  -webkit-transition: width 320ms ease-in-out;
  transition: width 320ms ease-in-out;
}
#menu nav ul li:nth-of-type(5), #menu nav li li:nth-of-type(5) {
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
#menu nav ul li a, #menu nav li li a {
  position: absolute;
  right: 0;
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  line-height: 2.4em;
  margin-right: 1em;
}
#menu nav ul li:hover li, #menu nav li li:hover li {
  border-bottom: 1px solid #808080;
}
#menu nav ul li:hover a, #menu nav li li:hover a {
  color: #cccccc;
}

#article-cover {
  width: 100%;
}
#article-cover .hero-photo {
  height: 100vh;
  overflow: hidden;
  background: url(https://www.hongkongfp.com/wp-content/uploads/2016/12/2016-12-03T062903Z_1_LYNXMPECB204M_RTROPTP_4_USA-TRUMP-TAIWAN.jpg) no-repeat center center fixed;
  background-size: cover;
}

.article-details-wrapper {
  background: rgba(0, 0, 0, 0.5);
}

#article-details {
  width: 100%;
  position: fixed;
  top: 0;
  margin: 3em 0 3em 0;
  text-align: center;
}
#article-details.stuck {
  position: relative;
}
#article-details .article-category a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5em;
  text-transform: lowercase;
  text-decoration: none;
  color: #cccccc;
  display: inline-block;
  margin: 1.45em 0 1.5em;
}
#article-details h1.article-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 6.2em;
  line-height: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 0.4em;
  text-shadow: grey 0.5em 0.5em 0.5em;
   -webkit-text-fill-color:white;
}
#article-details h1.article-title > span:last-child {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  line-height: 1em;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  text-shadow: grey 0.5em 0.5em 0.5em;
   -webkit-text-fill-color:white;
}
#article-details .article-abstract {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.8em;
  line-height: 1.45em;
  color: #f5f5f5;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  padding: 0 10%;
}
#article-details .article-byline {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: #cccccc;
  display: block;
  padding-bottom: 0.8em;
}
#article-details .article-byline strong {
  font-style: italic;
  font-weight: 400;
}

#read-more {
  padding: 2em 0;
  height: 100%;
  text-align: center;
}
#read-more.stuck {
  display: none;
}
#read-more a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
#read-more a, #read-more i {
  display: block;
  color: #cccccc;
}

#article-body {
  text-align: justify;
  font-family: "Halant", serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.571em;
}
#article-body .article-copy p {
  margin: 0 0 1.571em 0;
}
#article-body .article-copy.dropcap:first-letter {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15.3em;
  color: #000000;
  float: left;
  line-height: 0.7em;
  margin: 0 0.09em 0.1em 0;
}

.pulledquote {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  color: #808080;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 2em 0;
}
.pulledquote:before {
  width: 100%;
  content: "“";
  font-family: "Playfair Display", serif;
  font-size: 8em;
  position: relative;
  top: 0.48em;
  left: 20%;
  color: #f5f5f5;
  z-index: -1;
}

#article-images img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#article-images figcaption {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: center;
  margin: 0px auto;
  border-bottom: 1px solid #000;
  padding: 1.5em 0px 2.5em;
}
#article-images #article-images ul {
  list-style: none;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
#article-images .slick-dots {
  position: absolute;
  bottom: 7em;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
#article-images .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
#article-images .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
#article-images .slick-dots li button:before {
  font-family: FontAwesome;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#article-images .slick-prev, #article-images .slick-next {
  font-family: FontAwesome;
  position: absolute;
  top: 30%;
  z-index: 2;
  color: transparent;
  background: transparent;
  border: none;
  outline: none;
}
#article-images .slick-prev:before, #article-images .slick-next:before {
  font-size: 200px;
  line-height: 1;
  opacity: 0.25;
  color: white;
  -webkit-font-smoothing: antialiased;
}
#article-images .slick-prev {
  left: -5px;
}
#article-images .slick-prev:before {
  content: "";
}
#article-images .slick-next {
  right: -25px;
}
#article-images .slick-next:before {
  content: "";
}
#article-images li.slick-active button:before {
  opacity: 0.75;
  color: black;
}




